<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
</head>
<body>
	<h2>Welcome Admin</h2>
	
	<form action="viewuser">
	<input type="submit" value="View Users">
	</form>
	<br><br>
	
	<form action="deleteuser">
	<input type="submit" value="Delete User">
	</form>
	<br><br>
	
	<form action="map-addmovie">
	<input type="submit" value="Add Movie">
	</form>
	<br><br>
	
	<a href="viewmovie">
	<input type="submit" value="View Movies"/>
	</a>
	<br><br>
	
	<form action="map-login">
	<input type="submit" value="Logout">
	</form>
	
</body>
</html>