<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View User</title>
</head>
<body>
	<h2>All Users</h2>
	<table border="1">
		<thead>
			<tr>
				<td>name</td>
				<td>email</td>
				<td>phone</td>
				<td>gender</td>
				<td>address</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${user}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.phone}"></td>
				<td th:text="${user.gender}"></td>
				<td th:text="${user.address}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>